<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Règlement - Axtrale Faction</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="../index.html"><i class="fa-solid fa-arrow-left"></i> Retour à l'accueil</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="titleRules">
            <h2>Règlement</h2>
            <hr>
            <h3>Axtrale Faction</h3>
        </div>
        <div id="contentRules">
            <section>
                <h3>Règlement du serveur Discord</h3>
                <p> Le serveur Discord permet de rassembler une partie de notre communauté. Il est donc essentiel que chacun des membres respectent ce règlement afin que chacun se sente accueilli.</p>
                <span class="subtitleRules">Règles de bases</span>
                <ul>
                    <li>Le respect des membres est l'une des priorités du serveur. Toutes insultes, mauvaises remarques (autre que des conseils), mouvements de haine, harcèlement ou tout autre comportement pouvant nuir auprès des autres joueurs se verront lourdement sanctionnés.</li>
                    <li>Le respect des lois et des conditions d'utilisations de Discord est également important. Nous vous prions donc de lire et respecter les documents suivants :</li>
                    <ul>
                        <li>Les lois gouvernementales de la France (tout ce qui concerne attaque DDoS, y compris les menaces, l'harcèlement, le vol...)</li>
                        <li>Les conditions d'utilisations de Discord (raids, token grab, génération de Discord Nitro, vente de comptes, âge d'utilisation...)</li>
                        <li>Les conditions d'utilisations de Botghost (pour le moment nos bots Discord sont hébergés chez Botghost)</li>
                        <li>Les conditions d'utilisations de Microsoft et de Minecraft (pas de pseudos impossibles à bannir ou de pratiquer une autre sanction)</li>
                    </ul>
                    <li>Votre pseudo doit être mentionnable, utilisable (sur Minecraft et Discord) et ne doit contenir aucuns termes choquants</li>
                    <li>Votre photo de profil (sur nos réseaux) ne doit pas être choquantes pour les autres utilisateurs</li>
                </ul>
                <span class="subtitleRules">Règles supplémentaires</span>
                <ul>
                    <li>Le spam, le flood et tout autre forme d'abus de chat sont interdits</li>
                    <li>Les abus de bots sont interdits</li>
                </ul>
            </section>
            <section>
                <h3>Règlement du serveur Minecraft</h3>
                <p>Pour le moment le règlement du serveur Minecraft n'est pas disponible, cependant nous vous demandons de respecter les autres joueurs, de ne pas troller et d'appliquer les règles du serveur Discord sur le serveur Minecraft.</p>
            </section>
            <section>
                <h3>Sanctions</h3>
                <p>Pour le moment seul les fondateurs peuvent décider des sanctions appliquées et uniquement sur le Discord ou via l'auto-mod. Tout staff se réserve cependant les droits de vous sanctionner en cas de mauvais comportement. En cas de sanctions abusives, contactez-nous <a href="mailto:axtralefaction@gmail.com">ici</a> (tout abus sera puni).</p>
                <p>Si vous nous contactez par mail, envoyez une preuve de votre sanction, suivi de votre pseudo Discord et Minecraft, le nom du staff concerné ainsi que votre identifiant Discord.</p>
            </section>
        </div>
    </main>
    <footer>

    </footer>
    <script src="https://kit.fontawesome.com/2df06b8a70.js" crossorigin="anonymous"></script>
</body>
</html>